@import '@fontsource/noto-sans-jp/400.css';
@import '@fontsource/noto-serif-jp/400.css';

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Arial', 'Hiragino Kaku Gothic ProN','Noto Sans JP', sans-serif;
$font-family-serif: 'Times New Roman', 'Hiragino Mincho ProN', 'Noto Serif JP', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// $mark-bg: #fcf8e3;

// Input

$input-btn-focus-width: 1%;
$input-focus-width: $input-btn-focus-width;

$input-btn-focus-box-shadow: 0%;
$input-focus-box-shadow: $input-btn-focus-box-shadow;