@import '@fontsource/noto-sans-jp/400.css';
@import '@fontsource/noto-serif-jp/400.css';

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: Arial, 'Noto Sans JP', sans-serif;
$font-family-serif: 'Noto Serif JP', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
